html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 65px;
}

.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
