html,
body {
  min-width: 960px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;

  background: #000 url(../img/body-bg.jpg) no-repeat center top;
}

.inner-page {
  color: #000;

  background: #f8f5f2 url(../img/white-pattern.jpg) repeat;
}

/** ===========================
 *  Общие стили для всех страниц
 *  ===========================
*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 60px;

  color: #fff;

  background: #000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active {
  position: relative;

  background: none;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active::after {
  content: "";

  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  height: 5px;

  background-color: #fff;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
}

.login:hover {
  background: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: url(../img/login-icon.png) no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.bread-crumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bread-crumbs li {
  position: relative;

  display: inline;
  padding-right: 40px;
}

.bread-crumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 13px;

  display: block;
  width: 8px;
  height: 8px;
  /*margin-right: 13px;*/

  background: #000;

  transform: rotate(45deg);
}

.bread-crumbs a {
  color: #000;
  text-decoration: none;
}

.bread-crumbs a:hover {
  text-decoration: underline;
}

.bread-crumbs .bread-crumbs-active {
  color: #aba9a7;
}

.bread-crumbs .bread-crumbs-active::after {
  display: none;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;

  border: 2px solid #000;
}

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;

  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;

  display: inline;
  margin: 0;
  padding: 0 25px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;

  background: #f8f5f2 url(../img/white-pattern.jpg) repeat;
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;

  display: block;

  border-bottom: 2px solid #000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.custom-list-1 li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: block;
  width: 8px;
  height: 8px;

  background: #000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 65px;

  color: #fff;
  background: #252525 url(../img/black-pattern.jpg);
}

.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;

  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000 url(../img/sprite/sprite.png) no-repeat center;

  transition: all .5s;
}

.social-btn:hover {
  background-color: #fff;
}

.social-btn-vk {
  background-position: -5px -4px;
}

.social-btn-fb {
  background-position: -53px -4px;
}

.social-btn-inst {
  background-position: -102px -4px;
}

.social-btn-vk:hover {
  background-position: -4px -52px;
}

.social-btn-fb:hover {
  background-position: -52px -51px;
}

.social-btn-inst:hover {
  background-position: -104px -52px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.second-footer {
  margin-top: 0;
}

/** ===========================
 *  Всплывающая форма
 *  ===========================
*/
.modal-content {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 20;

  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;

  color: #000;

  background: #f8f5f2 url(../img/white-pattern.jpg) repeat;
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;

  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  background: #e9e5dc url(../img/map.jpg);
  border: 7px solid #fff;
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;

  border: 2px solid #000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url(../img/sprite/modal-content-sprite.png);
  background-repeat: no-repeat;
  background-position: 100% 5px;
}

.login-form input.icon-password {
  background-image: url(../img/sprite/modal-content-sprite.png);
  background-repeat: no-repeat;
  background-position: 100% -31px;
}

.login-form .restore {
  float: right;

  color: #000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

/** ===========================
 *  Сетка главной страницы
 *  ===========================
*/
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background: #fff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000;

  background: url(../img/index-content-shadow.png) no-repeat center, #f8f5f2 url(../img/white-pattern.jpg);
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.new-preview p {
  margin-bottom: 0;
}

.news-preview time {
  font-weight: 400;
  text-transform: none;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;


  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #663d15;
}

.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn:disabled:hover {
  background: #000;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background: #ccc;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;
  text-transform: uppercase;

  background: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/** ===========================
 *  Сетка текстовой страницы
 *  ===========================
*/
.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

/** ===========================
 *  Сетка страницы товара
 *  ===========================
*/
.good {
  padding-top: 57px;
  padding-bottom: 50px;
}

.good-gallery {
  float: left;
  width: 460px;
  min-height: 668px;
}

.good-price-and-desc {
  float: right;
  width: 390px;
  min-height: 510px;
}

/** ===========================
 *  Сетка страницы магазина
 *  ===========================
*/
.sort-and-catalog {
  padding-top: 54px;
  padding-bottom: 50px;
}

.sorting {
  float: left;
  width: 220px;
}

.goods {
  float: right;
  width: 700px;
  font-size: 0;
}

.goods-item {
  display: inline-block;
  width: 220px;
  min-height: 270px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;

  background: #fff;
  vertical-align: top;
  font-size: 14px;
}

.goods-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  margin-top: 25px;
  font-size: 14px;
}

.paginator .btn {
  display: inline-block;
  min-width: 7px;
  margin-right: 7px;
  padding-left: 19px;
  padding-right: 19px;
}

.paginator-active {
  color: #000;

  background: #fff;
}

.paginator .btn:hover {
  color: #fff;

  background: #663d15;
}

/** ===========================
 *  Декоративные элементы страницы товара
 *  ===========================
*/
.main-navigation .header-logo:hover {
  background: url(../img/header-logo.png) no-repeat center 22px;
}

.good-gallery .full-photo {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;

  box-shadow: 0px 0px 16px 2px rgba(0,1,1,.2);
}

.good-gallery .good-gallery-content {
  width: 460px;
  height: 149px;
  margin: 0;
}

.good-gallery-content img {
  width: 140px;
  height: 149px;
  margin-right: 17px;

  box-shadow: 0px 0px 16px 2px rgba(0,1,1,.2);
}

.good-gallery-content img:last-child {
  margin-right: 0;
}

.good-price-and-desc {
  padding-top: 24px;
}

.good-avail {
  margin-right: 176px;
}

.good-code {
  color: #aeaeae;
}

.good-desc p {
  margin: 0;
  padding: 20px 0 40px 0;
}

.good-price {
  margin-bottom: 62px;
}

.good-price .price {
  display: inline-block;
  margin-right: -3px;
  padding: 10px 26px 10px 30px;

  background: #e5e5e5;
  vertical-align: middle;
}

.good-price .btn {
  padding-left: 20px;
  padding-right: 17px;
}

.good-compos b {
  font-size: 24px;
  line-height: 28px;
}

.good-compos ul {
  position: relative;

  margin: 0;
  margin-top: 26px;
  padding: 0;
  padding-left: 22px;

  list-style: none;
}

.good-compos ul li::before {
  content: "";

  position: absolute;
  left: 2px;

  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;


  background: #000;

  transform: rotate(45deg);
}

/** ===========================
 *  Декоративные элементы магазина
 *  ===========================
*/

/************** Оформление формы сортировки товара **************/
/*Сброс отступов и рамок fieldset*/
.sorting-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

  /*Форматирование заголовков формы*/
  .sorting-form legend {
    margin-bottom: 28px;

    font-size: 24px;
    line-height: 28px;
  }

  /*Сброс стилей списков и установка отступов*/
  .sorting-form ul {
    margin-top: 0;
    margin-bottom: 52px;
    padding-left: 0;

    list-style: none;
  }

  /*Задаем отступ до кнопки отправки формы*/
  .sorting-form .product-groups {
    margin-bottom: 17px;
  }

  /*Задаем позишн для элементов списка и отступы*/
  .sorting-form ul li {
    position: relative;

    margin-bottom: 17px;
    padding-left: 20px;
  }

  /*Скрываем стандартные элементы формы*/
  .sorting-form input[type="checkbox"],
  .sorting-form input[type="radio"] {
      display:none;
  }

  /*Делаем label блочным и задаем отступ от формы*/
  .sorting-form input[type="checkbox"] + label,
  .sorting-form input[type="radio"] + label {
    display: block;
    margin-left: 23px;
  }

  /*Создаем псведоэлемент для checkbox, позиционируем его и вешаем на фон спрайт*/
  .sorting-form input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    margin-right: 23px;
    width: 16px;
    height: 16px;

    background-image: url(../img/sprite/form-sprite.png);
    background-repeat: no-repeat;
    border: 2px solid #000;
  }

  /*Утсанавливаем фон спрайта для пустого chekbox*/
  .sorting-form input[type="checkbox"] + label::before {
    background-position: 20px 2px;
  }

  /*Устанавливаем фон спрайта для checked checkbox*/
  .sorting-form input[type="checkbox"]:checked + label::before {
    background-position: 2px 2px;
  }

  /*Создаем псведоэлемент для radio, позиционируем его и вешаем на фон спрайт*/
  .sorting-form input[type="radio"] + label::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 0;

    margin-right: 23px;
    width: 16px;
    height: 16px;

    background-image: url(../img/sprite/form-sprite.png);
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 50%;
  }

  /*Устанавливаем фон спрайта для пустого radio*/
  .sorting-form input[type="radio"] + label::before {
    background-position: 20px 2px;
  }

  /*Устанавливаем фон спрайта для checked radio*/
  .sorting-form input[type="radio"]:checked + label::before {
    background-position: -22px 2px;
  }

/************** Оформление каталога товаров **************/
.goods-item {
  box-shadow: 0px 0px 16px 2px rgba(0,1,1,.2);
}

/*Сброс отступов у картинок каталога*/
.goods-item .goods-item-photo {
  margin: 0;
  padding: 0;
}

/*Задаем явный размер картинкам*/
.goods-item-photo img {
  width: 220px;
  height: 165px;
}

/*Форматируем ссылку на товар*/
.price-and-name > a {
  display: block;

  color: #000;
  line-height: 18px;
  text-decoration: none;
}

  /*Установка отступов для цены*/
  .price-and-name .good-price {
    margin: 0;
    margin-top: 12px;
  }

  /*Сброс внешних отступов у кнопки купить в каталоге*/
  .price-and-name .btn {
    margin: 0;
  }

  /*Сбрасываем прописные буквы у категории товара*/
  .price-and-name .category {
    text-transform: none;
  }

  .price-and-name .category:hover {
    text-decoration: underline;
  }

  /*Явно задаем прописные буквы для названия товара*/
  .price-and-name .title {
    text-transform: uppercase;
  }

  .price-and-name .title:hover {
    text-decoration: underline;
  }

  /*Задаем фон и внутренние отступы для блока с именем товара и ценой*/
  .goods-item .price-and-name {
    padding: 15px;
    padding-bottom: 0;
  }
